{% extends "base2.html" %}
{% block form-content %}




                                        <form>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Password</label>
                                                <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href={% url 'password' %}>Forgot Password?</a>
                                                <a class="btn btn-primary" href={% url 'cards' %}>Login</a>
                                            </div>
                                        </form>
                                        <div class="card-footer text-center">
                                            <div class="small"><a href={% url 'register' %}>Need an account? Sign up!</a></div>
                                        </div>

{% endblock %}
