{% extends "base2.html" %}
{% block form-content %}

<form>
  <div class="form-group">
    <label class="small mb-1" for="inputEmailAddress">Email</label>
    <input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />
  </div>
  <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
    <a class="small" href={% url 'login' %}>Return to login</a>
    <a class="btn btn-primary" href="login.html">Reset Password</a>
  </div>
</form>
</div>
<div class="card-footer text-center">
  <div class="small"><a href="register.html">Need an account? Sign up!</a></div>


  {% endblock %}
